YOUTUBE_API_KEY=
PUBLIC_POSTHOG_KEY=phc_hjAzrJR1oqwdWF2chYKVdAkAQAXtTgd576iTuMTfuEO

# Set to "true" to restrict the app to the /embed route only (for iframe embedding)
PUBLIC_EMBED_MODE=

PUBLIC_APP_NAME=Radio4000
PUBLIC_APP_SHORT_NAME=R4
PUBLIC_APP_URL=https://beta.radio4000.com
PUBLIC_APP_DESCRIPTION=Collect, curate, play and share your own radio channel
PUBLIC_APP_PLAYER_URL=https://player.radio4000.com
PUBLIC_APP_CLOUDINARY_URL=https://res.cloudinary.com/radio4000
PUBLIC_APP_LEGAL_URL=https://legal.radio4000.com
PUBLIC_APP_CHAT_URL=https://matrix.to/#/#radio4000:matrix.org

