select,
button,
.btn {
	position: relative;

	display: inline-flex;
	vertical-align: top;
	align-items: center;
	justify-content: center;
	min-width: 1.75rem;
	min-height: 2rem;
	padding: 0 0.5rem;

	flex-shrink: 0;
	white-space: nowrap;
	user-select: none;

	font-size: var(--font-4);
	font-weight: 400;
	line-height: normal;

	background: var(--button-bg, var(--gray-1));
	color: var(--button-color, var(--gray-12));
	border: 1px solid var(--gray-7);
	border-radius: var(--border-radius);
	box-shadow:
		lch(0 0 0 / 0.06) 0px 4px 4px -1px,
		lch(0 0 0 / 0.12) 0px 1px 1px 0px;

	transition-property: border, background-color, color, opacity, transform;
	transition-duration: 150ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button:focus,
button:hover,
.btn:focus,
.btn:hover {
	border-color: var(--accent-9);
}

select:active,
button:focus,
.btn:focus {
	outline: 2px solid var(--accent-9);
	outline-offset: -2px;
}

/* button:active, */
/* .btn:active { */
/* 	i { */
/* 		transform: scaleX(0.97) scaleY(0.97) rotate(0.02deg); */
/* 	} */
/* } */

select:focus,
button:disabled,
.btn:disabled {
	color: var(--gray-8);

	:global(.icon) {
		opacity: 0.2;
	}
}

a.active {
	color: var(--accent-9);
}

button.active,
.btn.active {
	border-color: var(--accent-9);
	background-color: var(--accent-3);

	svg {
		color: var(--accent-9);
	}
}

button.active:active,
.btn.active:active {
	background-color: var(--accent-2);
}

.IconBtn {
	border: 0;
	background: none;
	padding: 0;
}

button[data-loading='true'] {
	cursor: wait;
}

/* bit bigger */
button[type='submit'] {
	padding-left: 1rem;
	padding-right: 1rem;
}

a.btn {
	text-decoration: none;
}

button.danger,
.btn.danger {
	background: var(--color-red);
	color: white;
	border-color: var(--color-red);
}

button.danger:hover,
button.danger:focus,
.btn.danger:hover,
.btn.danger:focus {
	background: color-mix(in lab, var(--color-red), black 10%);
	border-color: color-mix(in lab, var(--color-red), black 10%);
}

button[role='primary'],
button.primary,
.btn.primary {
	background: var(--accent-9);
	color: var(--gray-1);

	&:hover {
		background: var(--accent-10);
	}
}

button:has(svg, i) {
	gap: 0.3rem;
}
